@font-face {
    font-family: klavikabold;
    src: url(../fonts/klavikabold.otf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeueBold.ttf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeueLight.ttf);
}
* {
	margin: 0;
	padding: 0;
}

/* Header Start */
header {
	background-color: #3F5D9A;
	min-height: 82px;
	background-size: cover;
	background-position: center;
}
.wrapper {
    margin: 0 auto;
    padding-top: 10px;
    width: 980px;
    overflow: hidden;
}
.logo {
	float: left;
	padding-top: 13px;
}
.logo h1 {
	font-family: klavikabold;
	font-size: 45px;
	color: white;
}
.login_section {
	float: right;
}
.login_section table {
	border-collapse: separate;
    border-spacing: 2px;
}
.login_section table tr td {
	padding: 0 0 0 14px;
}
table tr {
	vertical-align: top;
}
.login_section label {
	font-family: tahoma;
	font-size: 13px;
	font-weight: inherit;
	color: white;
}
.inputtext {
	border: none;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-top: 2px; 
    width: 142px;
}
.inputtext textarea {
	max-width: 100%;
	font-size: 13px;
	border-color: #3F5D9A;
	outline-style: none;
}
.blank_space a {
	font-family: tahoma;
	font-size: 13px;
	color: #9cb4d8;
	text-decoration: none;
}
.blank_space a:hover {
	text-decoration: underline;
}
.login_section table button {
	font-size: 13px;
	font-weight: bold;
	background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    padding: 2px 6px;
}
.login_section table button:hover {
	background-color: #365899;
}
/* Header End */

/* Banner Start */
.banner {
	min-height: 570px;
	background: linear-gradient(white, #D3D8E8);
	background-position: center;
	background-size: cover;
}
.banner_content1 {
	width: 47%;
	float: left;
}
.banner_content1 p {
	font-family: HelveticaNeueBold;
	font-size: 20px;
	margin-top: 25px;
}
.banner_conten2 {
	width: 40%;
	float: right;
}
.banner_conten2 h1 {
	font-family: HelveticaNeueBold;
	font-size: 35px;
	color: #333333;
	margin-top: 15px;
	margin-bottom: 5px;
}
.banner_conten2 h4 {
	font-family: HelveticaNeueLight;
	font-size: 20px;
	font-weight: 600;
	color: #6B6B6B;
}
.reg_name {
	width: 175px;
	margin-bottom: 10px;
	padding: 9px 8px;
	font-family: HelveticaNeueLight;
	font-weight: 600;
	color: grey;
	font-size: 17px;
	border: 1px solid #BDC7D8;
	border-radius: 3px;
}
.reg_name textarea {
	font-size: 20px;
}
.reg_email {
	width: 372px;
	margin-bottom: 10px;
	padding: 9px 9px;
	font-family: HelveticaNeueLight;
	font-weight: 600;
	color: grey;
	font-size: 17px;
	border: 1px solid #BDC7D8;
	border-radius: 3px;
}
.reg_email textarea {
	margin-right: 205px;
	font-size: 20px;
}
.reg_password {
	width: 372px;
	margin-bottom: 10px;
	padding: 9px 9px;
	font-family: HelveticaNeueLight;
	font-weight: 600;
	color: grey;
	font-size: 17px;
	border: 1px solid #BDC7D8;
	border-radius: 3px;
}
.reg_password textarea {
	font-size: 20px;
}
label {
	font-family: HelveticaNeueLight;
	font-size: 18px;
	font-weight: bold;
	color: #6B6B6B;
}
select {
	margin-top: 5px;
}
#day {
	border: 1px solid #BDC7D8;
	padding: 6px;
}
#month {
	border: 1px solid #BDC7D8;
	padding: 6px;
}
#year {
	border: 1px solid #BDC7D8;
	padding: 6px;
}
.banner_content2 form select option {
	font-size: 15px;
}
.dob_query {
	width: 35%;
	float: right;
	margin-top: 8px;
	line-height: .8;
}
.dob_query a {
	font-family: tahoma;
	font-size: 11px;
	color: #3C5A98;
	text-decoration: none;
	text-align: center;
}
#gender {
	margin-right: 5px;
	margin-left: 10px;
}
.conditions {
	width: 80%;
	font-family: tahoma;
	font-size: 11px;
	color: #6B6B6B;
	line-height: 1.2;
}
.conditions a {
	color: #3C5A98;
	text-decoration: none;
}
.btn {
	font-family: HelveticaNeueBold;
	font-size: 19px;
	color: white;
	font-weight: bold;
	min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5)
}
.btn:hover {
	background: linear-gradient(#69a74e, #67ae55);
	box-shadow: inset 0 1px 1px #3b6e22;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
.create_page {
	margin-top: 45px;
}
.create_page p {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #6B6B6B;
}
.create_page p a {
	color: #3C5A98;
	text-decoration: none;
}
/* Banner End */

/* Footer Start */
footer {}
.footer_top p {
	margin-top: 40px;
	margin-bottom: 10px;
	font-family: tahoma;
	font-size: 13px;
	color: #6B6B6B;
}
.footer_top p span a {
	color: #3C5A98;
	text-decoration: none;
	padding-left: 10px;
}
.footer_top p span a:hover {
	text-decoration: underline;
}
.footer_bottom p {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
	font-family: tahoma;
	font-size: 13px;
	text-align: center;
	color: #6B6B6B;
}
hr {
	border: .5px solid #CDCDCD;
}
.footer_bottom p span a {
	color: #3C5A98;
	text-decoration: none;
	padding-left: 14px;
	line-height: 1.7;
}
.footer_bottom p span:first-child a {
	padding-left: 0;
}
.footer_bottom p span a:hover {
	text-decoration: underline;
}
h6 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: inherit;
	color: #6B6B6B;
}
/* Footer End */
